header{
    background-color: #D7E5CA;
}
#home header h6 {
    font-family: 'Josefin Sans', sans-serif;
}
#home header #img121 {
    height: 20px;
    width: 20px;
}
#home header #button1 {
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
#home nav #logo1{
    width: 170px;
    height:55px;
}
/*products*/
#home section #img1{
    height: 300px;
}
#home section  #img2{
    height: 193px;
}
#home section  #img3{
    height: 150px; 
}
#home section  #img4{
    height: 150px;
}
/* categories*/
#home section #img5, #img6, #img7, #img8, #img9, #img10{
    height: 70px;
    padding-left: 20px;
}
/*featured products*/
#home section #img11, #img12, #img13, #img14{
    background-color: #f8f9fa;
} 
#home section #img15, #img16, #img17, #img18{
    background-color: #f8f9fa;
}
#home h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: saddlebrown;
}

